# Node
node_modules/
package-lock.json

# Capacitor / iOS build artifacts
www/
ios/App/Pods/
ios/App/build/
ios/DerivedData/
*.xcuserstate

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# fastlane
ios/App/fastlane/report.xml
ios/App/fastlane/Preview.html
ios/App/fastlane/screenshots/
ios/App/fastlane/test_output/
ios/App/fastlane/README.md
ios/App/.bundle/
ios/App/vendor/bundle/
ios/App/Gemfile.lock
build/
